/* Tablet and Mobile */
@media only screen and (max-width: 63.9375em) {
  /* Common */
  .wrapper {
    padding: 6.4rem 1.5rem;
  }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
  /* App */
  .header .nav-desktop {
    display: none;
  }

  .header .nav-mobile {
    display: block;
  }

  /* The Band */
  .the-band .member-list {
    flex-direction: column;
  }

  .the-band .member-item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .the-band .member-name {
    font-size: 2rem;
  }

  /* Tour */
  .tour .place-list {
    flex-direction: column;
  }

  .tour .place-list .place-item {
    width: 100%;
  }

  .tour .place-list .place-item + .place-item {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .tour .place-item .bbtn {
    width: 100%;
    height: 5rem;
  }

  /* Contact */
  .contact .wrapper .contact-content,
  .contact .contact-form .form-wrap {
    flex-direction: column;
  }

  .contact .contact-content .contact-info-list {
    margin-bottom: 1.5rem;
  }

  .contact .form-wrap .form-input + .form-input {
    margin-left: 0;
    margin-top: 1rem;
  }
}

